* {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}

:root {
    --white: #fff;
    --dark-blue: #1f2937; /* Header and Footer BG - Information Title - Quote Text  */
    --light-blue: #3882f6; /* Call to Acton BG - Button Color */
    --light-gray: #e5e7eb; /* Quote BG - Header Small Text and Links */
}

button {
    border: none;
    color: var(--white);
    font-weight: bold;
    background-color: var(--light-blue);
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 10px;
}

button:hover {
    background-color: hsl(217, 91%, 40%);
    cursor: pointer;
}

header {
   
    color: var(--white);
    /* padding: 20px 200px; */
    background-image: url(/images/Skyline.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

 .header-main {
    display: flex;
    /* margin-bottom: 500px; */
    padding-bottom: 900px;
    
    justify-content: space-between;
}

.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    top: 0;
    left: 0;
    background-color: green;
    width: 100%;
    padding: 20px 100px;
    z-index: 100;
}

.topnavbar li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.topnavbar a {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    transition: color 0.3s, border-bottom 0.3s;
}

.topnavbar a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s ease;
}

.topnavbar a:hover {
    color: var(--light-blue);
}

.topnavbar a:hover::before {
    width: 100%;
}

.header-top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}





.header-info {
    
    margin-right: 50px;
    padding: 20px 200px;
}

.header-info h1 {
    font-weight: bold;
    font-size: 48px;
    padding-top: 500px;
}

.header-info p {
    color: var(--light-gray);
}

.header-main .header-img img {
    background-color: var(--light-gray);
}




.main-info-container{
    background-color: #000000;
    padding-top: 10px;
}




.main-info {
    color: #fff;
    padding: 0 80px 80px;
    
}

.main-info h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 40px auto;
    text-align: center;
    
}

.main-info .cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
   
}

.main-info .cards-container div {
    width: 200px;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


.main-info .cards-container div div {
    width: 200px;
    height: 200px;
    border: 5px solid var(--light-blue);
    border-radius: 10px;
    margin-bottom: 10px;
}

.main-quote {
    background-color: var(--light-gray);
    padding: 100px 400px;
    font-size: 36px;
    font-weight: lighter;
}

.main-quote .quote-source {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

.main-action {
    margin: 80px;
}

.main-action .action-card {
    width: 600px;
    margin: 0 auto;
    background-color: var(--light-blue);
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    color: var(--white);
}

.action-card button {
    border: 2px solid var(--white);
}

footer {
    padding: 30px;
    background-color: var(--dark-blue);
    text-align: center;
    color: var(--white);
}