* {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}


@media (max-width: 700px) {
  button, header, .header-main,.navbar,.topnavbar li,.topnavbar a, .header-top, .typewriter, .strongname, .header-info, .contactgit, .header-img, .profile , .main-info-container , .cards-container, .box, .descriptor, .main-info, .main-info h2 , .cards-container div, .projects,
  .project-card, .project-card h3 , .project-card p , .project-card a , .cardpic, .footh, .footer,
   div.right,div.left ,textarea , .msg,div.bottom, .ftrtxt,.ftrhead,.formbutton,  .ftrlinks, hr, svg,
  ::placeholder,  #start,#end{   
    flex-direction: column;
  }
}







html {
  scroll-behavior: smooth;
}


:root {
    --white: #fff;
    --dark-blue: #1f2937; /* Header and Footer BG - Information Title - Quote Text  */
    --light-blue: #3882f6; /* Call to Acton BG - Button Color */
    
    
    
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    
    --light-gray: #e5e7eb; /* Quote BG - Header Small Text and Links */
}

button {
    border: none;
    color: var(--white);
    font-weight: bold;
    background-color: var(--light-blue);
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 10px;
}

button:hover {
    background-color: hsl(0, 0%, 100%);
    color: #000000;
    cursor: pointer;
}

header {
   
    color: var(--white);
    /* padding: 20px 200px; */
    background-image: url('../assets/images/Skyline.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

 .header-main {
    display: flex;
    /* margin-bottom: 500px; */
    padding-bottom: 450px;
    align-items: center;
    
    justify-content: space-between;





    padding-bottom: 450px;


    
}

.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    top: 0;
    left: 0;
    
    width: 100%;
    padding: 20px 100px;
    z-index: 100;
}

.topnavbar li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    
}

.topnavbar a {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    transition: color 0.3s, border-bottom 0.3s;
}

.topnavbar a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s ease;
}

.topnavbar a:hover {
    /* color: var(--light-blue); */
    color: #F0DB4F;
}

.topnavbar a:hover::before {
    width: 100%;
}

.header-top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}






.typewriter h1 {
    color: #fff;
    
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid rgb(240, 219, 79);  */
    /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 5 auto; 
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: 1px; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 254) }
  }




.strongname{
    /* color: hsl(217, 91%, 40%); */
    color: #F0DB4F;
}




.header-info {
   
    margin-right: 50px;
    /* padding: 20px 200px; */
    padding-left: 50px;
    flex: 1;
    /* padding-right: 50px; */



}

.header-info h1 {
    font-weight: bold;
    font-size: 48px;
    padding-top: 100px;

    margin-bottom: 20px;
}

.header-info p {
    color: var(--light-gray);

    max-width: 800px;

    
    font-size: 25px;
}


.contactgit{
    padding-top: 25px;
    padding-left: 85px;
   
}


.header-img{
    padding-right: 350px;
    padding-top: 50px;
    border-radius: 50%;
    /* background-color: black; */
    
}


.profile{
  border-radius: 50%;
  background: none;
  /* background-color: black; */
}



.header-main .header-img img {
    /* background-color: var(--light-gray); */
}




.main-info-container , #main-info{
    background-color: #000000;
    
    padding-top: 100px;
    padding-bottom: 300px;
}





.cards-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d ;


}



.box{
    width: 10px;
    height: 10px;
}


.cards-container .box
{
    position: relative;
    width: 120px;
    height: 120px;
    transition: 0.5s;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0002);
    

}


.cards-container .box img 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.cards-container:hover > :not(:hover)
{
    margin: 0 -20px;
    filter: drop-shadow(0 0 25px ) drop-shadow(0 0 45px #000);
    transform: perspective(500px) rotateY(45deg) scale(0.95);
}


.cards-container .box:hover ~ .box
{
    transform: perspective(500px) rotateY(-45deg) scale(0.95);
}

.cards-container .box:hover
{
    transform: perspective(500px) rotateY(0) scale(1.5);
    
    z-index: 1000;
}


.descriptor{
    color:#F0DB4F;
    font-size: 40px;
    padding-top: 250px;
}


.main-info {
    color: #fff;
    padding: 0 80px 80px;
    padding-bottom: 250px;



    /* position: absolute; */
    
}

.main-info h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 40px auto;
    text-align: center;
    
}

.main-info .cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
   
}

.main-info .cards-container div {
    width: 200px;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


.main-info .cards-container div div {
    width: 200px;
    height: 200px;
    border: 5px solid var(--light-blue);
    border-radius: 10px;
    margin-bottom: 10px;
}








.projects {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-top: 50px;
    background-color: #F0DB4F;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);

    padding-bottom: 500px;

    padding-top: 250px;
    

    
}

.project-card {
    width: 300px;
    height: 50;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;

    /* make it box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) if you want transparent btw */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 1);   */
    transition: transform 0.3s ease;
    z-index: 100;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.project-card a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #F0DB4F;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project-card a:hover {
    background-color: #ffffff;
    color: #000000;
}

.cardpic{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}





.main-action {
    /* margin: 80px; */



}

/* .main-action .action-card {
    width: 600px;
    margin: 0 auto;
    background-color: var(--light-blue);
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    color: var(--white);
} */

/* .action-card button {
    border: 2px solid var(--white);
} */








/* 
footer {
    padding: 30px;
    background-color: black;
    text-align: center;
    color: var(--white);
}
 */







.footh {
    font-size: 55px;
    color: white;
    font-family: 'Roboto', sans-serif;
    flex-basis: 100%;
  }
  
  body {
    margin: 0;
    background: black;
  }
  
  .footer {
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 2em;
    gap: 10px;
    display: flex;
    bottom: 0;
    position: relative;
    width: 100%;
    background-color: var(--blk);
  }
  
  div.right {
    margin: 0;
    display: flex;
    width: 50%;
    flex-direction: row;
    gap: 10px;
    flex: 1;
  }
  
  div.left {
    flex-basis: 100%;
    margin: 0;
    display: flex;
    gap: 10px;
    width: 50%;
    flex-direction: column;
    flex: 1;
  }
  
textarea {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    outline: none;
    resize: none;
    border: none;
    padding: 1em;
    border-radius: 10px;
    background-color: #2b2927;
  }
  
  .msg {
    flex-basis: 100%;
  }
  
  div.bottom {
    min-width: 0;
    overflow-x: scroll;
    padding-top: 1em;
    gap: 2em;
    color: rgb(0, 0, 0);
    width: 100%;
    flex-basis: 100%;
    display: flex;
  }
  
  .ftrtxt {
    flex-basis: 100%;
    font-size: 15px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
  }
  
  .ftrhead {
    font-size: 35px;
  }


.formbutton{
    width: 50%;
    height: 50%;
    font-size: 24px;
    background-color: #F0DB4F;
    color: #000;
}



  
  .ftrhead::after,
  .ftrtxt::after {
    content: "\a";
    white-space: pre;
  }
  
  .ftrlinks {
    flex-basis: 1;
  }
  
  hr {
    margin-top: 1em;
    margin-bottom: 1em;
    flex-basis: 100%;
    color: white;
  }
  
  svg {
    fill: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 2s ease-in-out;
  }
  
  svg:hover {
    animation: pulse 2s infinite ease-in-out;
  }
  
  ::placeholder {
    font-family: 'Roboto', sans-serif;
  }
  
  #start {
    margin-left: auto;
  }
  
  #end {
    margin-right: auto;
  }
  
  ::-webkit-scrollbar {
    height: 5px;
    width: 2px;
  }
  
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
    height: 5px;
    width: 2px;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
      fill: grey;
    }
    100% {
      transform: scale(1);
    }
  }
  